<div class="item-container" *ngIf="selectedItem">
    <h3>{{ selectedItem.name }}</h3>
    <p>Average height: {{selectedItem.average_height}}</p>
    <p>Average lifespan: {{selectedItem.average_lifespan}}</p>
    <p>Classification: {{selectedItem.classification}}</p>
    <p>Designation: {{selectedItem.designation}}</p>
    <p>Eye colors: {{selectedItem.eye_colors}}</p>
    <p>Hair colors: {{selectedItem.hair_colors}}</p>
    <p>Language: {{selectedItem.language}}</p>
    <p>Skin colors: {{selectedItem.skin_colors}}</p>
</div>