<div class="item-container" *ngIf="selectedItem">
    <h3>{{ selectedItem.name }}</h3>
    <p>MGLT: {{selectedItem.MGLT}}</p>
    <p>Cargo capacity: {{selectedItem.cargo_capacity}}</p>
    <p>Consumables: {{selectedItem.consumables}}</p>
    <p>Cost in credits: {{selectedItem.cost_in_credits}}</p>
    <p>Crew: {{selectedItem.crew}}</p>
    <p>Hyperdrive rating: {{selectedItem.hyperdrive_rating}}</p>
    <p>Length: {{selectedItem.length}} m</p>
    <p>Max atmosphering speed: {{selectedItem.max_atmosphering_speed}}</p>
    <p>Passengers: {{selectedItem.passengers}}</p>
    <p>Starship class: {{selectedItem.starship_class}}</p>
</div>